huggingface_hub
gradio==5.33.0
gradio[mcp]
requests
pydantic
numpy
pandas
scipy
plotly
dotenv
mistralai
fastapi
uvicorn
pydantic
aiohttp
markdown
lxml[html_clean]
readability-lxml
chromadb
markdownify
html2markdown
smolagents